body{
    font-family: Roboto;
}
.notebook{
    margin-top: 10px !important;
}
.notebook, .notebook-print, .canvas-wrap, .viz-container{
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid lightgray;
    border-left: 5px solid #96c8d6;
    font-size: 0.9em;
}
.viz-container{
    border-left: 5px solid #9e92e6;
    margin-top: 2px;
}
.viz-container span {
    display: inline-block;
    font-size: 0.75em;
    margin-right: 10px;
    margin-bottom: 5px;
}
.notebook-print{
    background: #e7e7e7;
    border-top: none;
}
code[class*="language-"], pre[class*="language-"]{
    white-space: pre-line !important;
    line-height: 1.2;
}
pre[class*="language-"]{
    padding: 4px;
    background: #f7f7f7;
    margin: 0;
}